extends layout

block content
  div(class="wrapper")
    h1= title
    form(method="post")
        p
            label login
            input(type='text' name='login')
        p
            label hasło
            input(type='password' name='password')
        p
            input(type="submit" value='zaloguj')